.blog {
  max-width: 900px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: table;
  clear: both;
}

.column {
  float: left;
}

.aboutinfo {
  width: 30%;
}

.blogcontent {
  width: 70%;
}

.posttitle {
  font-size: 20px;
  color: #838383;
  text-decoration: none;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .aboutinfo {
    display: none;
  }

  .blogcontent {
    width: 100%;
  }
}