.blog {
  max-width: 900px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: table;
  clear: both;
}

.column {
  float: left;
}

.aboutinfo {
  width: 30%;
  /* border-right: 1px solid #838383; */
  padding: 10px;
}

.blogcontent {
  width: 70%;
  padding: 10px;
}

p {
  font-size: 28px;
  color: #838383;
  text-align: left;
  padding-top: 5px;
}

h1 {
  font-size: 18px;
  color: #838383;
  text-align: left;
  padding-bottom: 5px;
}

h2 {
  font-size: 18px;
  color: #838383;
  font-weight: lighter;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .aboutinfo {
    display: none;
  }

  .blogcontent {
    width: 100%;
  }
}