.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0.6em;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: center;
}

.nav-links {
  color: #838383;
  text-decoration: none;
  padding: 0.15em 0.3em;
}

.nav-links:hover {
  background-color: #838383;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease-out;
}