.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0.6em;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: center;
}

.nav-links {
  color: #838383;
  text-decoration: none;
  padding: 0.15em 0.3em;
  border-radius: 10px;
}

.nav-links:hover {
  background-color: rgba(83, 83, 83, 0.4);
  color: white;
  transition: all 0.2s ease-out;
}