* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #838383;
}

.site {
  margin: 20px;
}

h1, h2 {
  margin:  20px 0;
}

h2 {
  font-size: 24px;
}
h3 { 
  font-size: 16px;
}